
@{
    Layout = null;
}
@using HypersWebApp.Controllers
@using HypersWebApp.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="with" />
    <title>BuyView</title>
</head>
<body>
    <input id="NameInput", placeholder="Name..." />
    <input id="LAdresseInput", placeholder="Leveringsadresse..." />
    <br />
    <input id="TelefonInput", placeholder="Telefon..." />
    <input id="EmailInput", placeholder="Email..." />
    <br />
    <input id="PostnummerInput", placeholder="Postnummer..." />
    <input id="ByInput", placeholder="By..." />

    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        @{double s = 0; }
        @foreach (ProductViewModel productViewModel in (List<ProductViewModel>)Session["cart"])
        {
            s += productViewModel.compositeProduct.Price;
            <tr>
                <td>@productViewModel.compositeProduct.Name </td>
                <td>@productViewModel.compositeProduct.ProductDescription </td>
                <td>@productViewModel.compositeProduct.Price </td>
            </tr>
        }
        <tr>
            <td align="right">Sum</td>
            <td>@s</td>
        </tr>
    </table>
    <br /><br />
    @Html.ActionLink("Fortsæt til betaling", "Payment", "ShoppingCart")
</body>
</html>


