
@{
    Layout = null;
}
@using HypersWebApp.Controllers
@using HypersWebApp.Models
<!DOCTYPE html>

<html>
<head>
    <title>Cart</title>
</head>
<body>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Option</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        @{double s = 0; }
        @foreach (ProductViewModel productViewModel in (List<ProductViewModel>)Session["cart"])
        {
            s += productViewModel.compositeProduct.Price;
            <tr>
                <td>@Html.ActionLink("Delete", "Delete", "ShoppingCart", new { id = productViewModel.compositeProduct.ProductId }, null)</td>
                <td>@productViewModel.compositeProduct.Name </td>
                <td>@productViewModel.compositeProduct.ProductDescription </td>
                <td>@productViewModel.compositeProduct.Price </td>
            </tr>
        }
        <tr>
            <td align="right">Sum</td>
            <td>@s</td>
        </tr>
    </table>
    <br /><br />
    @Html.ActionLink("Continue Shopping", "Index", "Home")
    @Html.ActionLink("Køb produkter", "BuyView", "ShoppingCart")
</body>
</html>
