<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title HypersWebSite</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hypers Webshop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Harddisk", "Harddisk", "Product")</li>
                    <li>@Html.ActionLink("Ram", "Ram", "Product")</li>
                    <li>@Html.ActionLink("Batteri", "Batteri", "Product")</li>
                    <li>@Html.ActionLink("Strømforsyning", "Strømforsyning", "Product")</li>
                    <li>@Html.ActionLink("GPU", "GPU", "Product")</li>
                    <li>@Html.ActionLink("CPU_Køling", "CPU_Køling", "Product")</li>
                    <li>@Html.ActionLink("Motherboard", "Motherboard", "Product")</li>
                    <li>@Html.ActionLink("CPU", "CPU", "Product")</li>
                    <li>@Html.ActionLink("Optisk_Drev", "Optisk_Drev", "Product")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hypers webshop  </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
