@{
    ViewBag.Title = "Batteri";
}
@using HypersWebApp.ServiceReference1;
<head>
    <style type="text/css">
        html, body {
            margin: 0px;
            padding: 0px;
            border: 0px;
        }

        #wrap {
            width: 1250px;
            margin: 0 100px 100px 0;
            padding: 0;
            background-color: #fff;
        }

            #wrap h1 {
                margin: 100px 0 0 0;
                padding: 0;
                width: 1250px;
                height: 150px;
                float: left;
            }

            #wrap #leftcol {
                width: 575px;
                background-color: #ffffff;
                height: 500px;
                float: left;
            }

            #wrap #rightcol {
                width: 575px;
                float: right;
                margin: 0;
                padding: 0;
            }
    </style>
</head>

<body>
    <div id="wrap">
        <h1>
            <p>Danske batterier er bare bedre </p>

        </h1>
        <div id="leftcol">
            <table width="100%" cellpadding="0" cellspacing="0" border="1">
                @foreach (CompositeProduct p in ViewBag.ListProduct)
                {
                    if (p.ProductDescription == Product_Description.Battery)
                    {
                        <tr>
                            <td>@p.Name </td>
                            <td>@p.Price </td>
                            <td>@p.ProductDescription </td>
                            <td align="center">@Html.ActionLink("Buy Now", "OrderNow", "ShoppingCart", new { id = p.ProductId }, null) </td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div id="rightcol">
            <div id="rightleft">
                <p>
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <h2 class="col-sm-6 mysquare">@ViewBag.Square1 </h2>
            <h2 class="col-sm-6 mysquare">@ViewBag.Square2 </h2>
        </div>
        <div class="row">
            <h2 class="col-sm-6 mysquare">@ViewBag.Square3 </h2>
            <h2 class="col-sm-6 mysquare">@ViewBag.Square4 </h2>
        </div>
    </div>

</body>