@{
    ViewBag.Title = "Harddisk";
}

<head>
    <style type="text/css">
        html, body {
            margin: 0px;
            padding: 0px;
            border: 0px;
        }

        #wrap {
            width: 1250px;
            margin: 0 100px 100px 0;
            padding: 0;
            background-color: #fff;
        }

            #wrap h1 {
                margin: 100px 0 0 0;
                padding: 0;
                width: 1250px;
                height: 150px;
                float: left;
            }

            #wrap #leftcol {
                width: 350px;
                background-color: #ffffff;
                height: 500px;
                float: left;
            }

            #wrap #rightcol {
                width: 800px;
                float: right;
                margin: 0;
                padding: 0;
            }

        #rightcol #rightleft {
            width: 350px;
            height: 500px;
            float: left;
        }

        #rightcol #rightright {
            width: 350px;
            height: 500px;
            float: right;
        }
    </style>
</head>

<body>
    <div id="wrap">
        <h1>
            <p>Harddiske er guder blandt computerdele </p>

        </h1>
        <div id="leftcol">
            <p>
                @ViewBag.Message
            </p>
        </div>
        <div id="rightcol">
            <div id="rightleft">
                <p>
                    Det her er den anden kolonne!
                </p>
            </div>
            <div id="rightright">
                <p>
                    Det her er den tredje kolonne!
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <h2 class="col-sm-6 mysquare">@ViewBag.Square1 </h2>
            <h2 class="col-sm-6 mysquare">@ViewBag.Square2 </h2>
        </div>
        <div class="row">
            <h2 class="col-sm-6 mysquare">@ViewBag.Square3 </h2>
            <h2 class="col-sm-6 mysquare">@ViewBag.Square4 </h2>
        </div>
    </div>

</body>